// ========================================
//
// @file _header.scss
// Header element on the page
//
// ========================================

.header {

}
.region-header {
  #block-furniture-theme-account-menu {
    display: block;
    position: relative;
    float: right;
    ul.menu {
      display: block;
      margin: 0;
      li {
        display: inline-block;
        padding: 9px;
        a {
          color: #707070;
          font-size: 14px;
          line-height: 18px;
          font-style: normal;
          text-transform: none;
          font-weight: normal;
          text-decoration: none;
          &:hover {
            color: $color-gray;
          }
        }
      }
    }
  }
}