// ========================================
//
// @file _header.scss
// Header element on the page
//
// ========================================

.header {

}
.region-header {
  #block-infoblockphone {
    display: inline-block;
    position: relative;
    width: 200px;
    top: -6px;
    .field--name-body {
      p {
        font-family: $font-karla;
        font-size: 14px;
        line-height: 18px;
        font-style: normal;
        color: $color-gray;
        &::before {
          content: '\f10b';
          font-family: $font-awesome;
          color: $color-gray;
          font-size: 24px;
          top: 4px;
          position: relative;
          padding-right: 15px;
        }
      }
    }
  }
  #block-infoblockmail {
    display: inline-block;
    position: relative;
    width: 200px;
    top: -7px;
    .field--name-body {
      p {
        a {
          text-decoration: none;
          font-size: 14px;
          line-height: 18px;
          font-style: normal;
          color: $color-gray;
          &::before {
            content: '\f0e0';
            font-family: $font-awesome;
            color: $color-gray;
            font-size: 22px;
            top: 3px;
            position: relative;
            padding-right: 15px;
          }
          &:hover {
            color: $color-orange;
          }
        }
      }
    }
  }
  #block-furniture-theme-account-menu {
    display: inline-block;
    position: relative;
    float: right;
    .account-menu-toggle {
      display: none;
    }
    ul.account-menu-level-1 {
      display: block;
      margin: 0;
      li {
        display: inline-block;
        padding: 9px;
        a {
          color: #707070;
          font-size: 14px;
          line-height: 18px;
          font-style: normal;
          text-transform: none;
          font-weight: normal;
          text-decoration: none;
          &:hover {
            color: $color-gray;
          }
        }
      }
    }
  }
  @media screen and (max-width: $screen-md-min) {
    text-align: center;
    display: block;
    width: 100%;
    margin-left: 0;
    height: 30px;
    &::after {
      content: '\f107';
      font-family: "FontAwesome";
      font-size: 20px;
      color: white;
      position: absolute;
      top: 7px;
      left: 49%;
    }
    #block-infoblockphone {
      visibility: hidden;
      display: inline-block;
      text-align: center;
      position: relative;
    }
    #block-infoblockmail {
      visibility: hidden;
      display: inline-block;
      text-align: center;
      position: relative;
      span {
        display: block;
        position: relative;
        width: 30px;
        height: 30px;
        cursor: pointer;
        &::after {
          content: '\f106';
          left: -8px;
          bottom: 10px;
          font-family: "FontAwesome";
          font-size: 20px;
          color: white;
          position: absolute;
        }
      }
    }
    #block-furniture-theme-account-menu {
      visibility: hidden;
      display: block;
      width: 100%;
      .account-menu-toggle {
        display: block;
        color: white;
        text-align: center;
        cursor: pointer;
        padding: 10px 0;
      }
      ul.account-menu-level-1 {
        display: none;
        margin: 0 auto;
        padding: 0;
        background-color: #282828;
        li.account-menu-item-1 {
          display: block;
          width: 100%;
          text-align: center;
        }
      }
    }
    #block-furniture-theme-account-menu.menu-show {
      ul.account-menu-level-1 {
        display: block;
      }
    }
  }
  @media screen and (max-width: $screen-md-min) {
    padding-left: 0!important;
    padding-right: 0!important;
  }
}
  .region-header.header-show {
    min-height: 90px!important;
    &::after {
      display: none;
    }
    #block-furniture-theme-account-menu {
      visibility: visible;
    }
    #block-infoblockphone {
      visibility: visible;
    }
    #block-infoblockmail {
      visibility: visible;
    }
  }