// ========================================
//
// @file _navigation.scss
// All the navigation elements on the page
//
// ========================================

.navigation {

}
#block-furniture-theme-main-menu {
  display: inline-block;
  width: 60%;
  margin-right: 5%;
  float: right;
  clear: right;
  ul.nav-0 {
    display: block;
    margin-top: 27px;
    margin-bottom: 0px;
    float: right;
    clear: right;
    li {
      display: inline-block;
      padding: 10px 15px 15px 15px;
      a {
        display: block;
        position: relative;
        height: 47px;
        text-decoration: none;
        color: #252324;
        font-size: 17px;
        font-family: $font-karla;
        line-height: 22px;
        font-weight: normal;
        font-style: normal;
        &::after {
          content: '';
          display: block;
          position: absolute;
          height: 1px;
          width: 1px;
          background-color: transparent;
        }
        &:hover {
          color: #9d9d9d;
          &::after {
            content: '';
            display: block;
            position: absolute;
            height: 1px;
            width: 100%;
            background-color: $color-orange;
            -webkit-transition: width 1s; /* Safari */
            -webkit-transition-timing-function: linear; /* Safari */
            transition: width 1s;
            transition-timing-function: linear;
          }
        }
      }
      &:hover {
        ul.nav-1 {
          display: block;
        }
        ul.nav-1.has-children {
          display: block;
        }
      }
    }
    li>ul.nav-1 {
      display: none;
      margin: 0;
      position: absolute;
      z-index: 9999;
      padding: 7px 90px 20px 20px;
      background-color: white;
      margin-top: 4px;

      li {
        display: block;
        width: 100%;
        position: relative;
        float: left;
        padding: 0;
        a {
          font-size: 14px;
          display: block;
          height: 30px;
        }
      }
    }
    li>ul.nav-1.has-children {
      display: none;
      width: 60%;
      margin: 0;
      position: absolute;
      right: 0;
      z-index: 9999;
      padding: 7px 20px 20px 20px;
      background-color: white;
      margin-top: 4px;
      li {
        display: inline-block;
        width: 25%;
        position: relative;
        float: left;
        padding: 0;
        a:first-child {
          pointer-events: none;
          color: #9d9d9d;
          font-size: 14px;
          display: block;
          height: 30px;
        }
      }
      li>ul.nav-2 {
        display: block;
        width: 100%;
        padding-left: 0;
        li {
          display: block;
          width: 100%;
          a {
            pointer-events: initial;
            text-decoration: none;
            color: #252324;
            font-size: 14px;
            line-height: 20px;
            min-height: 30px;
            font-weight: normal;
            font-style: normal;
            &::after {
              content: '';
              display: block;
              position: absolute;
              height: 1px;
              width: 1px;
              background-color: transparent;
            }
            &:hover {
              color: #9d9d9d;
              &::after {
                content: '';
                display: block;
                position: absolute;
                height: 1px;
                width: 100%;
                background-color: $color-orange;
                -webkit-transition: width 1s; /* Safari */
                -webkit-transition-timing-function: linear; /* Safari */
                transition: width 1s;
                transition-timing-function: linear;
              }
            }
          }
        }
      }
      @media screen and (max-width: $screen-lg-min) {
        width: 75%;
      }
    }
  }
  @media screen and (max-width: $screen-md-min) {
    display: none;
  }
}
body.user-logged-in {
  #block-mainnavigationmobile {
    .menu-toggle {
      top: -28px;
    }
  }
}
.menu--main-navigation-mobile {
  width: 100%;
  margin: 0 auto;
  .menu-toggle {
    width: 60px;
    color: $color-black;
    padding: 13px 15px;
    font-size: 18px;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    float: right;
    clear: right;
    span {
      right: 20px;
      position: absolute;
      top: 0;
    }
  }
  ul.menu-level-1 {
    display: none;
  }
}
.first-lev-show {
  ul.menu-level-1 {
    display: block;
    list-style: none;
    margin: 0;
    padding-top: 25px;
    li.menu-item-1 {
      display: block;
      padding-right: 35px;
      a.menu-link-1 {
        font-family: $font-karla;
        text-decoration: none;
        font-size: 17px;
        line-height: 22px;
        font-weight: normal;
        font-style: normal;
        color: #252525;
        display: inline-block;
        margin: 8px 30px;
        padding: 0;
        &:hover {
          color: #9d9d9d;
        }
        &.is-active {
          color: #9d9d9d;
        }
      }
        ul.menu-level-2 {
          display: none;
        }
    }
    li.menu-item-1.got-pseudo {
      a.menu-link-1 {
        &::after {
          content: '\f107';
          font-family: $font-awesome;
          font-size: 20px;
          color: #252525;
          position: absolute;
          right: 55px;
        }
      }
    }
    li.menu-item-1.got-pseudo.show {
      a.menu-link-1 {
        &::after {
          content: '\f106';
          font-family: $font-awesome;
          font-size: 20px;
          color: #252525;
          position: absolute;
          right: 55px;
        }
      }
    }
    li.show {
      ul.menu-level-2 {
        display: block;
        li.menu-item-2 {
          display: block;
          margin-bottom: 10px;
          white-space: nowrap;
          a.menu-link-2 {
            margin-left: 5%;
            font-family: $font-karla;
            font-size: 14px;
            line-height: 20px;
            font-weight: normal;
            font-style: normal;
            color: #252525;
            text-decoration: none;
            &:hover {
              color: #9d9d9d;
            }
            &.is-active {
              color: #9d9d9d;
            }
          }
          ul.menu-level-3 {
            display: none;
          }
        }
        li.got-pseudo {
          a.menu-link-2 {
              &::after {
                content: '\f107';
                font-family: $font-awesome;
                font-size: 20px;
                color: #252525;
                position: absolute;
                right: 80px;
              }
            }
        }
        li.got-pseudo.show {
          a.menu-link-2 {
            &::after {
              content: '\f106';
              font-family: $font-awesome;
              font-size: 20px;
              color: #252525;
              position: absolute;
              right: 80px;
            }
          }
        }
        li.show {
          ul.menu-level-3 {
            display: block;
            list-style: none;
            margin: 0;
            padding: 15px 0 0 40px;
            li.menu-item-3 {
              display: block;
              margin-bottom: 10px;
              white-space: nowrap;
              a.menu-link-3 {
                margin-left: 5%;
                font-family: $font-karla;
                font-size: 14px;
                line-height: 20px;
                font-weight: normal;
                font-style: normal;
                color: #252525;
                text-decoration: none;
                &:hover {
                  color: #9d9d9d;
                }
                &.is-active {
                  color: #9d9d9d;
                }
                //&::after {
                //  content: '';
                //}
              }
            }
          }
        }
      }
    }
  }
}





