{% for entry in content %}
    <div class="slider-wrap">
        <div class="slider-img">
            <img src="{{ entry.image }}">
        </div>

        <div class="slider-text">
            {% for text in entry.text %}
            <p>{{ text }}</p>
            {% endfor %}
        </div>

        <div class="slider-link">
            <a href ="/shop">{{ entry.link }}</a>
        </div>

    </div>
{% endfor %}
