// ========================================
//
// @file about_us.scss
// About us page specific styling
//
// ========================================
#block-aboutusbanner-2 {
  display: block;
  width: 95%;
  margin: 0 auto;
  p {
    margin-top: 0;
  }
}
#block-whatwedo,
#block-ourhistory,
#block-aboutbrand {
  display: block;
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 52px;
  padding-top: 50px;
  h2 {
    display: inline-block;
    margin-top: 36px;
    margin-bottom: 0;
    font-size: 38px;
    line-height: 46px;
    font-weight: 400;
    font-style: normal;
    font-family: $font-karla;
    color: $color-black;
  }
  .field--name-field-about-us-img {
    display: inline-block;
    float: left;
    clear: left;
    margin-right: 65px;
    max-height: 240px;
    overflow: hidden;
  }
  .field--name-body {
    h2 {
      font-size: 16px;
      line-height: 24px;
      font-weight: 400;
      font-style: normal;
      color: #9d9d9d;
      font-family: $font-karla;
      margin: 0;
    }
    p {
      margin-top: 15px;
    }
  }
}
#block-whatwedo {
  border: none;
}
// - - Our team block
#block-ourteamblock {
  h2 {
    display: block;
    width: 200px;
    margin: 0 auto;
    font-size: 38px;
    font-weight: normal;
    font-style: normal;
    text-align: center;
    font-family: $font-karla;
    color: $color-black;
    position: relative;
  }
  p {
    display: block;
    width: 200px;
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    font-style: normal;
    color: #9d9d9d;
    font-family: $font-karla;
    left: 12px;
  }
  .team-wrap {
    display: inline-block;
    vertical-align: top;
    width: 28%;
    margin: 40px 20px 0 20px;
    padding-bottom: 35px;
    transition: all .4s ease-in-out;
    cursor: pointer;
    .block-img {
      padding: 40px 19% 0;
      text-align: center;
      overflow: hidden;
      img {
        transition: all .4s cubic-bezier(.55, .3, .5, 1.65);
        width: 100%;
        max-width: 100%;
        border-radius: 50%;
        filter: grayscale(100%);
      }
    }
    &:hover {
      box-shadow: 0 -3px 24px 3px rgba(12, 5, 13, 0.1);
      img {
        filter: none;
      }
    }
    .block-title {
      text-align: center;
      margin-top: 34px;
      a {
        font-family: $font-karla;
        color: $color-orange;
        font-size: 26px;
        line-height: 34px;
        font-weight: normal;
        font-style: normal;
        text-transform: none;
        text-decoration: none;
      }
    }
    .block-term {
      p {
        font-size: 14px;
      }
    }
  }
}
// - - Favorite products block
#block-favouriteproductsblock {
  margin: 50px 0;
  h2 {
    display: block;
    max-width: 400px;
    margin: 0 auto;
    font-size: 38px;
    font-weight: normal;
    font-style: normal;
    text-align: center;
    font-family: $font-karla;
    color: $color-black;
    position: relative;
  }
  p {
    display: block;
    width: 285px;
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    font-style: normal;
    color: #9d9d9d;
    font-family: $font-karla;
  }
  .fav-prod-wrapp {
    display: inline-block;
    position: relative;
    margin: 2% 2.5%;
    vertical-align: top;
    .hover-block {
      display: none;
      position: absolute;
      background-color: rgba(33, 33, 33, .85);
      transition: opacity .3s ease-in-out;
      border: 0;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      .block-fur-title {
        display: block;
        text-align: center;
        padding-top: 30%;
        a {
          text-decoration: none;
          font-family: $font-karla;
          font-size: 28px;
          line-height: 36px;
          color: white;
          &:hover {
            border-bottom: 1px solid $color-orange;
          }
        }
      }
    }
    &:hover {
      .hover-block {
        display: block;
      }
    }
  }
}
// - - In the press block(slider)
#block-fromtheblogblock-2 {
  h2 {
    display: block;
    max-width: 400px;
    margin: 0 auto;
    font-size: 38px;
    font-weight: normal;
    font-style: normal;
    text-align: center;
    font-family: $font-karla;
    color: $color-black;
    position: relative;
    margin-top: 50px;
  }
  p {
    display: block;
    width: 285px;
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    font-style: normal;
    color: #9d9d9d;
    font-family: $font-karla;
    margin-bottom: 30px;
  }
  .flexslider {
    .flex-viewport {
      margin-bottom: 20px;
    }
    ul.flex-direction-nav {
      display: none;
    }
    ol.flex-control-nav {
      li {
        a {
          width: 7px;
          height: 7px;
          background-color: #e6e6e6;
          border: none;
        }
        a.flex-active {
          background-color: #9b9b9b;
        }
      }
    }
    .block-blog-wrap {
      display: block;
      max-width: 555px;
      .block-blog-date {
        p {
          font-family: $font-karla;
          text-align: left;
          font-size: 17px;
          line-height: 20px;
          font-weight: normal;
          font-style: normal;
          color: $font-color;
          margin: 0;
          margin-top: 6px;
          &::before {
            content: '';
            display: inline-block;
            height: 1px;
            width: 25px;
            background-color: $color-orange;
            margin: 0 20px 4px 0;
          }
        }
      }
      .block-fur-title {
        margin-top: 10px;
        a {
          @include link-style;
          color: $color-black;
          font-size: 22px;
          line-height: 28px;
          text-decoration: none;
        }
      }
      .block-blog-img {
        overflow: hidden;
        img {
          //max-width: 360px;
          position: relative;
          transition: opacity .3s ease-in-out;
        }
        a {
          span.hover-button {
            display: none;
          }
        }
        a:hover {
          display: block;
          position: relative;
          background-color: $color-orange;
          cursor: auto;
          img {
            filter: opacity(10%);
          }
          span.hover-button {
            display: block;
            color: white;
            font-size: 50px;
            font-weight: 100;
            position: absolute;
            width: 50px;
            height: 50px;
            top: 39%;
            left: 43%;
            border-radius: 50%;
            background-color: rgba(255, 255, 255, 0.49);
            transition: color .3s ease-in-out, background-color .3s ease-in-out, border-color .3s ease-in-out;
            z-index: 500;
            span.plus {
              display: block;
              position: relative;
              width: 100%;
              height: 100%;
              span.vertical {
                display: block;
                position: absolute;
                width: 1px;
                height: 22px;
                background-color: white;
                top: 31%;
                left: 50%;
              }
              span.horizontal {
                display: block;
                position: absolute;
                width: 22px;
                height: 1px;background-color: white;
                top: 50%;
                left: 30%;
              }
            }
            &:hover {
              background-color: white;
              cursor: pointer;
              span.plus {
                span.vertical,
                span.horizontal {
                  background-color: $color-black;
                }
              }
            }
          }
        }
      }
    }
  }
}