// ========================================
//
// @file blog.scss
// 404 page specific styling
//
// ========================================
.blog-wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding-bottom: 50px;
  .field--name-field-blog-image {
    img {
      margin: 0 auto;
    }
  }
  .info-first {
    min-height: 50px;
    .field--name-field-date-blog {
      display: inline-block;
      max-width: 200px;
      margin-top: 16px;
      .datetime {
        font-family: $font-karla;
        font-size: 17px;
        line-height: 20px;
        font-weight: normal;
        font-style: normal;
        color: $color-black;
        &::before {
          content: '';
          display: inline-block;
          height: 1px;
          width: 25px;
          background-color: $color-orange;
          margin: 0 20px 4px 0;
        }
      }
    }
  }
  .info-sec {
    display: block;
    .field--name-field-blog-author {
      display: inline-block;
      a {
        @include link-style;
      }
    }
    .field--name-field-categories {
      display: inline-block;
      .field__item {
        display: inline-block;
        a {
          @include link-style;
        }
      }
      &::before {
        content: '/';
        color: $more-light-gray;
        position: relative;
        margin: 0 6px;
      }
    }
  }
  .field--name-body {
    p {
      color: $font-color;
    }
  }
}
.item-list--linkicon {
  @include social;
}
#block-nextpreviousblogblock {
  display: block;
  width: 100%;
  min-height: 55px;
  position: relative;
  margin-top: 50px;
  margin-bottom: 40px;
  a.prev {
    @include prev;
  }
  a.next {
    @include next;
  }
  @media screen and (max-width: $screen-xs-min){
    margin-top: 75px;
    margin-bottom: 60px;
    height: 180px;
  }
}
.field--name-field-more-posts {
  display: block;
  width: 100%;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  margin: 25px 0;
  padding: 15px 0 40px 0;
  .field__label {
    font-family: $font-karla;
    font-size: 30px;
    line-height: 36px;
    font-weight: normal;
    font-style: normal;
    color: $color-black;
    margin: 20px 0;
  }
  .field__items {
    display: block;
    width: 100%;
    .field__item {
      display: inline-block;
      width: 23%;
      margin: 0 6px;
      .node--view-mode-teaser {
        display: block;
        display: -webkit-box;
        display: -moz-box;
        display: box;

        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        box-orient: vertical;
        h2 {
          display: block;
          -webkit-box-ordinal-group: 3;
          -moz-box-ordinal-group: 3;
          box-ordinal-group: 3;
          width: 100%;
          a {
            @include link-style;
            color: $color-black;
            font-size: 18px;
            line-height: 24px;
            text-decoration: none;
          }
        }
        .node__content {
          -webkit-box-ordinal-group: 2;
          -moz-box-ordinal-group: 2;
          box-ordinal-group: 2;
          .field--name-field-blog-image {
            display: block;
            width: auto;
          }
          .field--name-field-date-blog {
            display: block;
            width: 100%;
            .datetime {
              font-family: $font-karla;
              font-size: 17px;
              line-height: 20px;
              font-weight: normal;
              font-style: normal;
              color: $font-color;
              margin-top: 6px;
              &::before {
                content: '';
                display: inline-block;
                height: 1px;
                width: 25px;
                background-color: $color-orange;
                margin: 0 20px 4px 0;
              }
            }
          }
        }
      }
      @media screen and (max-width: $screen-sm-min) {
        width: 47%;
      }
      @media screen and (max-width: $screen-xs-min) {
        width: 100%;
      }
    }
  }
}