// ========================================
//
// @file front.scss
// Front page specific styling
//
// ========================================
// - - Mozaik blocks
.region-mozaik-front {
  width: 90%;
  margin: 0 auto;
  display: block;
  .mosaic-wrap {
    display: inline-block;
    width: 100%;
    .left-block-mosaic {
      width: 21.6%;
      margin: 0 1.7%;
      position: relative;
      float: left;
      clear: left;
      vertical-align: top;
      .field__item {
        position: relative;
        max-height: 392px;
        overflow: hidden;
        margin-top: 40px;
        margin-bottom: 0px;
        .field--name-field-mosaic-button {
          @include mosaic_button;
        }
        &:first-child {
          margin-top: 0;
          margin-bottom: 40px;
        }
        &:last-child {
          .field--name-field-mosaic-button {
            left: 22%;
          }
        }
      }
    }
    .middle-large-mosaic {
      display: inline-block;
      width: 46.6%;
      margin: 0 1.7%;
      position: relative;
      float: none;
      min-height: 1px;
      max-height: 825px;
      overflow: hidden;
      .field__item {
        position: relative;
        img {
          margin: 0 auto;
        }
        .field--name-field-mosaic-button {
          @include mosaic_button;
          top: 46%;
          left: 35%;
        }
      }
    }
    .right-block-mosaic {
      display: inline-block;
      width: 21.6%;
      margin: 0 1.7%;
      position: relative;
      float: right;
      clear: right;
      vertical-align: top;
      .field__item {
        position: relative;
        max-height: 392px;
        overflow: hidden;
        margin-top: 40px;
        margin-bottom: 0px;
        .field--name-field-mosaic-button {
          @include mosaic_button;
        }
        &:first-child {
          margin-top: 0;
          margin-bottom: 40px;
        }
        &:last-child {
          .field--name-field-mosaic-button {
            left: 33%;
          }
        }
      }
    }
  }
}
// - - Our collections block
#block-ourcollectionsblock {
  @include container-fixed;
  h2 {
    display: block;
    position: relative;
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    font-size: 36px;
    line-height: 52px;
    font-weight: normal;
    font-style: normal;
    margin-bottom: 40px;
  }
  .block-fur-wrap {
    @include container-fixed;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    display: inline-block;
    width: 33%;
    position: relative;
    margin: 0 auto;
    .block-fur-term {
      text-align: center;
      p {
        color: #888888;
        transition: color 0.3s ease-in-out;
        font-size: 15px;
        line-height: 22px;
        font-weight: normal;
        font-style: normal;
        cursor: pointer;
        &:hover {
          color: #e6ae48;
        }
      }
    }
    .tax-wrapper {
      text-align: center;
      .block-fur-term {
        display: inline-block;
        a {
          text-decoration: none;
        }
      }
    }
    .block-fur-title {
      text-align: center;
      a {
        font-size: 18px;
        line-height: 24px;
        text-decoration: none;
        color: $color-black;
        transition: border-color .3s ease-in-out;
        border-color: transparent;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        &:hover {
          border-color: #e6ae48;
        }
      }
    }
    .block-fur-price {
      text-align: center;
      p {
        font-size: 18px;
        line-height: 24px;
        color: #888888;
      }
    }
  }
  .visit-store {
    display: block;
    width: 200px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    margin-top: 60px;
    a {
      text-decoration: none;
      font-weight: normal;
      font-style: normal;
      color: #e6ae48;
      font-size: 18px;
      line-height: 24px;
    }
  }
}
// - - Come visit us today block
.region-come-visit {
  h2 {
    display: block;
    position: relative;
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    font-size: 36px;
    line-height: 52px;
    font-weight: normal;
    font-style: normal;
    margin-bottom: 40px;
  }
  #block-furnituremobileapp,
  #block-pickingwithdelivery,
  #block-customservices,
  #block-2017storecatalogue {
    display: inline-block;
    vertical-align: top;
    width: 24%;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 95px;
    h2 {
      font-size: 25px;
      font-weight: normal;
      font-style: normal;
      line-height: 30px;
      margin-bottom: 5px;
    }
    .field--name-body {
      text-align: center;
      p {
        font-family: $font-arial;
        font-size: 15px;
        line-height: 22px;
        font-weight: normal;
        color: #888888;
      }
    }
    .field--name-field-block-link {
      text-align: center;
      margin-top: 20px;
      a {
        font-family: $font-karla;
        text-decoration: none;
        font-size: 18px;
        line-height: 24px;
        font-weight: normal;
        font-style: normal;
        color: #0f7fb7;
        transition: all .3s ease-in-out;
        &:hover {
          color: rgba(15,127,183,0.55);
        }
      }
    }
  }
  #block-furnituremobileapp {
    h2 {
      &::before {
        content: '\f10b';
        font-family: $font-awesome;
        position: absolute;
        top: -70px;
        left: 46%;
        font-size: 64px;
        color: #e6ae48;
      }
    }
  }
  #block-pickingwithdelivery {
    h2 {
      &::before {
        content: '\f06b';
        font-family: $font-awesome;
        position: absolute;
        top: -70px;
        left: 41%;
        font-size: 64px;
        color: #e6ae48;
      }
    }
  }
  #block-customservices {
    h2 {
      &::before {
        content: '\f2c0';
        font-family: $font-awesome;
        position: absolute;
        top: -70px;
        left: 39%;
        font-size: 55px;
        color: #e6ae48;
      }
    }
  }
  #block-2017storecatalogue {
    h2 {
      &::before {
        content: '\f1ea';
        font-family: $font-awesome;
        position: absolute;
        top: -70px;
        left: 36%;
        font-size: 55px;
        color: #e6ae48;
      }
    }
  }
}
// - - Member get more block
.region-member-get-more {
  margin-top: 90px;
  margin-bottom: 100px;
  h2 {
    display: block;
    position: relative;
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    font-size: 36px;
    line-height: 52px;
    font-weight: normal;
    font-style: normal;
    margin-bottom: 40px;
  }
  #block-furniturestorefamily,
  #block-furniturestorebusiness {
    display: inline-block;
    position: relative;
    width: 48%;
    padding-left: 2rem;
    padding-right: 2rem;
    vertical-align: top;
    h2 {
      display: inline-block;
      width: 48%;
      text-align: left;
      margin: 0;
      float: left;
      font-size: 30px;
      line-height: 36px;
      font-weight: normal;
      font-style: normal;
      margin-bottom: 20px;
    }
    .field--name-body {
      display: block;
      width: 48%;
      p {
        font-family: $font-arial;
        padding: 0 0 20px;
        margin: 0;
        font-size: 15px;
        line-height: 22px;
        font-weight: normal;
        color: #888888;
      }
    }
    .field--name-field-block-link {
      display: inline-block;
      width: 40%;
      a {
        font-family: $font-karla;
        font-size: 18px;
        line-height: 24px;
        font-weight: normal;
        font-style: normal;
        text-decoration: none;
        color: $color-black;
        &:hover {
          color: #e6ae48;
        }
      }
    }
    .field--name-field-img {
      display: inline-block;
      width: 55%;
      position: absolute;
      top: 0;
      right: 0;
      padding-left: 50px;
    }
  }
  #block-furniturestorefamily {
    h2 {
      color: #dc9814;
    }
  }
  #block-furniturestorebusiness {
    h2 {
      color: #0f7faf;
    }
  }
}
// - - Design ideas block
#block-designideas {
  display: block;
  margin-top: 50px;
  .bg-img {
    display: inline-block;
    vertical-align: top;
    width: 49.7%;
    background-image: url('/../../../../../sites/default/files/2017-12/bg-3-1_0.jpg');
    background-attachment: fixed;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
  }
  .text-wrapp {
    display: inline-block;
    width: 49.4%;
    padding: 79px 75px 79px 79px;
    h2 {
      font-family: $font-karla;
      font-size: 15px;
      line-height: 22px;
      font-weight: normal;
      font-style: normal;
      color: #aaaaaa;
    }
    .field--name-body {
      margin-bottom: 35px;
      h2 {
        font-family: $font-karla;
        font-size: 38px;
        line-height: 44px;
        font-weight: normal;
        font-style: normal;
        color: #252324;
      }
      h3 {
        font-family: $font-karla;
        font-size: 24px;
        font-weight: normal;
        font-style: normal;
        color: #e6ae48;
        margin-top: 10px;
      }
    }
    .field--name-field-shop-now {
      a {
        font-family: $font-karla;
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        text-decoration: none;
        border-style: solid;
        background-color: #252324;
        color: #ffffff;
        transition: all .3s ease-in-out;
        padding: 10px 35px;
        &:hover {
          background-color: $color-orange;
        }
      }
    }
  }
}
// - - Shopper guide block
#block-shopperguide {
  display: block;
  margin-bottom: 50px;
  .bg-img {
    display: inline-block;
    vertical-align: top;
    width: 49.7%;
    background-image: url('/../../../../../sites/default/files/2017-12/bg-6-1-2.jpg');
    background-attachment: fixed;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
  }
  .text-wrapp {
    display: inline-block;
    width: 49.4%;
    padding: 79px 75px 79px 79px;
    h2 {
      font-family: $font-karla;
      font-size: 15px;
      line-height: 22px;
      font-weight: normal;
      font-style: normal;
      color: #aaaaaa;
    }
    .field--name-body {
      margin-bottom: 35px;
      h2 {
        font-family: $font-karla;
        font-size: 38px;
        line-height: 44px;
        font-weight: normal;
        font-style: normal;
        color: #252324;
      }
      h3 {
        font-family: $font-karla;
        font-size: 24px;
        font-weight: normal;
        font-style: normal;
        color: #0f7fb7;
        margin-top: 10px;
      }
    }
    .item-list--linkicon {
      ul {
        width: 100%;
        &::before {
          display: none;
        }
      }
      li {
        a {
          transition: opacity .3s ease-in-out;
          span {
            font-size: 24px;
            color: $color-orange;
          }
          &:hover {
            span {
              color: #9b9b9b;
            }
          }
        }
      }
    }
  }
}
// - - From the blog slide-block
#block-fromtheblogblock {
  h2 {
    font-size: 36px;
    line-height: 52px;
    font-weight: normal;
    font-style: normal;
    text-align: center;
    color: $color-black;
    font-family: $font-karla;
  }
  .flexslider {
    .flex-viewport {
      margin-bottom: 20px;
    }
    ul.flex-direction-nav {
      display: none;
    }
    ol.flex-control-nav {
      li {
        a {
          width: 7px;
          height: 7px;
          background-color: #e6e6e6;
          border: none;
        }
        a.flex-active {
          background-color: #9b9b9b;
        }
      }
    }
    .block-blog-wrap {
      display: block;
      max-width: 555px;
      .block-blog-date {
        p {
          font-family: $font-karla;
          font-size: 17px;
          line-height: 20px;
          font-weight: normal;
          font-style: normal;
          color: $font-color;
          margin-top: 6px;
          &::before {
            content: '';
            display: inline-block;
            height: 1px;
            width: 25px;
            background-color: $color-orange;
            margin: 0 20px 4px 0;
          }
        }
      }
      .block-fur-title {
        margin-top: 10px;
        a {
          @include link-style;
          color: $color-black;
          font-size: 22px;
          line-height: 28px;
          text-decoration: none;
        }
      }
    }
  }
}