// ========================================
//
// @file furniture.scss
// Furniture node pages specific styling
//
// ========================================
.node--type-furniture {
  display: flex;
  width: 75%;
  .furniture-wrapp {
    display: flex;
    .furniture-main-block {
      width: 100%;
      .top {
        .left-block {
          @extend .col-lg-6;

        }
        .right-block {
          @extend .col-lg-6;
        }
      }

    }

  }
}
.sidebar-block {
  .layout-sidebar {
    width: 25%;
    height: 200px;
    background-color: $more-light-gray;
  }

}