// ========================================
//
// @file furniture.scss
// Furniture node pages specific styling
//
// ========================================
.node--type-furniture {
  .first-block {
    display: block;
    width: 100%;
    .first-left-block {
      display: inline-block;
      width: 50%;
      vertical-align: top;
      #slider {
        margin-bottom: 0;
        .flex-direction-nav {
          display: none;
        }
        ul {
          li#container {
            width: 300px;  /* size of the small image */
            margin: auto;  /* position in center of the page */
            position: relative;
            cursor: pointer;
            img.image-style-furniture-default-img {
              display: block;
            }
            .magnifier {
              width: 300px;
              height: 300px;
              position: absolute;
              top: 0;
              display: none;  /* hidden at startup */
            }
          }
        }
      }
      #carousel {
        ul {
          li {
            //margin-left: 5%;
          }
        }
      }
      @media screen and (max-width: $screen-sm){
        width: 80%;
        margin: 0 auto;
      }
    }
    .first-right-block {
      display: inline-block;
      width: 45%;
      margin-left: 3%;
      h2 {
        margin-top: 0;
        padding-bottom: 30px;
        border-bottom: 1px solid #e6e6e6;
        a {
          text-decoration: none;
          font-size: 32px;
          line-height: 38px;
          color: $color-black;
        }
      }
      .field--name-field-price {
        font-size: 22px;
        line-height: 28px;
        color: $color-black;
        padding-bottom: 20px;
        border-bottom: 1px solid #e6e6e6;
      }
      .field--name-body {
        color: #888888;
        font-size: 15px;
        line-height: 22px;
        padding-bottom: 20px;
      }
      .field--name-field-categories {
        padding-bottom: 40px;
        border-bottom: 1px solid #e6e6e6;
        .field__label {
          color: $color-black;
          font-size: 15px;
          line-height: 22px;
          font-weight: normal;
        }
        .field__items {
          .field__item {
            display: inline-block;
            padding-right: 5px;
            a {
              color: #9b9b9b;
              font-size: 15px;
              line-height: 22px;
              text-decoration: none;
              &:hover {
                color: #e6ae48;
              }
            }
          }
        }
      }
      .item-list--linkicon {
        padding-bottom: 25px;
      }
      @media screen and (max-width: $screen-sm){
        width: 95%;
        margin-right: 3%;
      }
    }
  }
  .second-block {
    width: 100%;
    ul.tabs {
      margin: 0px;
      padding: 0px;
      list-style: none;
      display: block;
      width: 100%;
      text-align: center;
      border-bottom: 1px solid #e6e6e6;
      li {
        font-size: 18px;
        line-height: 24px;
        font-weight: normal;
        background: none;
        color: $color-black;
        display: inline-block;
        padding: 10px 15px;
        cursor: pointer;
        &.current {
          border-bottom: 1px solid #e6ae48;
        }
      }
    }
    .tab-content {
      display: none;
      padding: 15px;
      &.current {
        display: inherit;
      }
      .field--name-field-desc {
        color: #888888;
        font-size: 15px;
        line-height: 22px;
        font-weight: normal;
        .field__label {
          display: none;
        }
      }
      .field--name-field-materials {
        padding-bottom: 14px;
        padding-top: 30px;
        border-bottom: 1px solid #e6e6e6;
        .field__label {
          color: $color-black;
          font-weight: normal;
          font-size: 16px;
          line-height: 24px;
          padding-right: 50px;
        }
        .field__item {
          color: #888888;
          font-weight: normal;
          font-size: 16px;
          line-height: 24px;
        }
      }
      .field--name-field-color {
        padding-bottom: 14px;
        padding-top: 14px;
        border-bottom: 1px solid #e6e6e6;
        .field__label {
          color: $color-black;
          font-weight: normal;
          font-size: 16px;
          line-height: 24px;
          padding-right: 50px;
        }
        .field__item {
          color: #888888;
          font-weight: normal;
          font-size: 16px;
          line-height: 24px;
        }
      }
    }
    #tab-3 {
      article.comment {
        display: block;
        position: relative;
        padding-bottom: 20px;
        border-bottom: 1px solid #e6e6e6;
        margin-bottom: 20px;
        footer.comment__meta {
          background-color: white;
          border-bottom: none;
          article.profile {
            display: inline-block;
            a {
              img{
                border-radius: 50%;
              }
            }
          }
          p.comment__submitted {
            display: inline-block;
            vertical-align: top;
            margin-top: 2px;
            font-family: $font-karla;
            font-size: 13px;
            color: $font-color;
            a {
              font-family: $font-karla;
              font-size: 18px;
              color: $color-black;
              text-decoration: none;
            }
          }
        }
        .content {
          h3 {
            display: none;
          }
          ul {
            display: block;
            text-align: right;
            position: absolute;
            top: 0;
            right: 0;
            margin-top: 0;
            li {
              a {
                font-family: $font-arial;
                font-size: 15px;
                color: $color-orange;
                text-decoration: none;
                &:hover {
                  color: $font-color;
                }
              }
            }
          }
          .field--name-field-your-rating {
            display: block;
            text-align: right;
            position: absolute;
            top: 25%;
            right: 0;
            .field__label {
              display: none;
            }
            .field__item {
              text-align: left;
              display: inline-block;
            }
          }
          .field--name-field-comment,
          .field--name-field-comment-name {
            font-family: $font-arial;
            font-size: 15px;
            color: $font-color;
          }
        }
      }
      form.comment-comments-with-fields-form {
        h1 {
          display: none;
        }
        .form-item-name {
          display: none;
        }
        .field--name-field-your-rating {
          label {
            font-family: $font-arial;
            font-size: 15px;
            color: $font-color;
          }
        }
        .form-textarea-wrapper {
          textarea {
            max-width: 570px;
            min-height: 160px;
            border-color: #e6e6e6;
            font-size: 15px;
            padding: 10px 0 0 10px;
            &:focus {
              outline: 1px solid #e6ae48;
            }
          }
        }
        .field--name-field-comment-name {
          .form-item-field-comment-name-0-value {
            input {
              max-width: 310px;
              height: 40px;
              border: 1px solid #e6e6e6;
              font-size: 15px;
              padding-left: 10px;
              &:focus {
                outline: 1px solid #e6ae48;
              }
              @media screen and(max-width: $screen-xs-min) {
                width: 100%;
              }
            }
          }
        }
        .field--name-field-email {
          .form-item-field-email-0-value {
            input {
              max-width: 310px;
              height: 40px;
              border: 1px solid #e6e6e6;
              font-size: 15px;
              padding-left: 10px;
              &:focus {
                outline: 1px solid #e6ae48;
              }
              @media screen and(max-width: $screen-xs-min) {
                width: 100%;
              }
            }
          }
        }
        .form-actions {
          @include submit_button;
        }
      }
    }
  }
  .third-block {
    width: 100%;
    .field--name-field-related-products {
      .field__label {
        margin: 0;
        padding: 0 0 45px;
        text-align: center;
        font-size: 30px;
        line-height: 36px;
        font-weight: normal;
        color: $color-black;
      }
      .field__items {
        display: block;
        width: 100%;
        .field__item {
          display: inline-block;
          width: 30%;
          margin-right: 2%;
          vertical-align: top;
          .node--view-mode-teaser {
            .field--name-field-furniture-image {
              display: block;
              width: 100%;
            }
            .field--name-field-categories {
              padding-top: 10px;
              position: relative;
              overflow: hidden;
              text-align: center;
              .field__item {
                a {
                  color: #888888;
                  text-decoration: none;
                  font-size: 15px;
                  line-height: 22px;
                  &:hover {
                    color: #e6ae48;
                  }
                }
              }
            }
            h2 {
              font-size: 18px;
              line-height: 24px;
              font-weight: normal;
              color: $color-black;
              text-align: center;
              a {
                transition: border-color .3s ease-in-out;
                text-decoration: none;
                border-bottom: 1px solid transparent;
                &:hover {
                  border-bottom: 1px solid #e6ae48;
                }
              }
            }
            .field--name-field-price {
              font-size: 18px;
              line-height: 24px;
              display: block;
              position: relative;
              text-align: center;
              margin: 0 auto;
              color: #888888;
              padding: 20px 0;
            }
          }
        }
      }
    }
  }
}
// Furniture teaser block: Related products
.node--view-mode-teaser {
  #carousel {
    display: none;
  }
  #slider {
    margin: 0;
    ul {
      position: relative;
      li:first-child {
        display: block;
        width: 100%;
        a {
          img {
            opacity: 1;
          }
        }
      }
      li {
        display: none;
        a {
          img {
            transition: opacity .3s ease-in-out;
            opacity: 0;
          }
        }

      }
      &:hover {
        li:last-child {
          display: block;
          width: 100%;
          position: absolute;
          top: 0;
          left: 0;
          a {
            img {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}