// ========================================
//
// @file portfolio.scss
// Portfolio node pages specific styling
//
// ========================================
.portfolio-wrapper {
  width: 100%;
  display: flex;
  .block-left {
    @extend .col-lg-8;
    clear: left;
    display: inline-flex;
    flex-direction: column;
    .field--name-body {
      p {
        color: $font-color;
      }
    }
  }
  .block-right {
    @extend .col-lg-4;
    float: right;
    clear: right;
    display: inline-flex;
    flex-direction: column;
    h3 {
      margin-top: 0;
      font-weight: normal;
      color: $color-black;
    }
    .field--name-field-author {
      padding: 9px 0;
      position: relative;
      border-bottom: 1px solid #e6e6e6;
      overflow: hidden;
      .field__label {
        font-size: 14px;
        color: #888888;
        font-weight: 300;
      }
      .field__item {
        a {
          float: right;
          @include link-style;
          color: $color-black;
        }
      }
    }
    .field--name-field-date-project {
      padding: 9px 0;
      position: relative;
      border-bottom: 1px solid #e6e6e6;
      overflow: hidden;
      .field__label {
        font-size: 14px;
        color: #888888;
        font-weight: 300;
      }
      .field__item {
        .datetime {
          float: right;
          font-family: $font-karla;
          font-size: 14px;
          line-height: 20px;
          font-weight: normal;
          font-style: normal;
          color: #888888;
        }
      }
    }
    .field--name-field-p-categories {
      padding: 9px 0;
      position: relative;
      border-bottom: 1px solid #e6e6e6;
      overflow: hidden;
      .field__label {
        font-size: 14px;
        color: #888888;
        font-weight: 300;
      }
      .field__item {
        a {
          float: right;
          @include link-style;
          color: $color-black;
          &::before {
            content: 'in';
            display: inline-block;
            font-size: 14px;
            color: #888888;
            padding-right: 5px;
          }
        }
      }
    }
  }
}
.item-list--linkicon {
  @include social;
}
.field--name-field-more {
  display: block;
  width: 100%;
  border-top: 1px solid #e6e6e6;
  .field__label {
    font-family: $font-karla;
    font-size: 30px;
    line-height: 36px;
    font-weight: normal;
    font-style: normal;
    color: $color-black;
    margin: 20px 0;
  }
  .field__items {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    .field__item {
      display: inline-flex;
      width: 90%;
      align-self: flex-start;
      .node--view-mode-teaser {
        display: flex;
        flex-direction: column-reverse;
        h2 {
          display: block;
          width: 90%;
          a {
            @include link-style;
            color: $color-black;
            font-size: 18px;
            line-height: 24px;
            text-decoration: none;
          }
        }
        .field--name-field-date-project {
          .datetime {
            font-family: $font-karla;
            font-size: 17px;
            line-height: 20px;
            font-weight: normal;
            font-style: normal;
            color: $font-color;
            margin-top: 6px;
            &::before {
              content: '';
              display: inline-block;
              height: 1px;
              width: 25px;
              background-color: $color-orange;
              margin: 0 20px 4px 0;
            }
          }
        }
      }
    }
  }
}
